# Node.js dependencies
node_modules/

# Build artifacts
build/
dist/
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
/client/node_modules

/server/node_modules
/server/.env